html {
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	top: 0;
	position: relative;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	background: #000;
	color: #fff;
	font-size: 15px;
	line-height: 19px;
}

#main {
	min-height: 393px;
	z-index: 2;
	overflow: hidden;
	height: 100%;
	position: relative;
}

#main.thumbs_view {
	margin: 0 auto;
	width: 1250px;
}

a {
	outline: none;
	color: #fff;
	text-decoration: none;
}

a:active,
a:focus:; {
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
}

h2 {
	color: #fff;
	margin: 0 0 38px;
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 22px;
	color: #fff;
	margin: 0 0 15px;
}

.aligncenter {
	text-align: center;
}

.columns {
	overflow: hidden;
}

.columns .column1_3 {
	float: left;
	width: 33.3%;
}

.preloader-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
}

.preloader {
	position: absolute;
	top: 50%;
	margin-top: -250px;
	margin-left: -250px;
	left: 50%;
	overflow: hidden;
	height: 500px;
	width: 500px;
}

#header {
	position: absolute;
	left: 0;
	top: 0;
	padding: 41px 0 0 50px;
	z-index: 3;
}

#sitename {
	margin-bottom: 0;
	color: #fff;
	font-size: 66px;
	line-height: 80px;
	text-transform: uppercase;
	font-weight: 300;
}

#sitename span {
	color: #fff568;
}

#tagline {
	padding-left: 4px;
	word-spacing: -1px;
	letter-spacing: 5px;
	color: #fff;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	margin: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
}

#mainmenu {
	padding: 0 25px;
	overflow: hidden;
	border-bottom-style: solid;
	border-width: 1px;
}

#mainmenu li {
	float: left;
	list-style: none;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 300;
}

#mainmenu li + li {
	margin-left: 31px;
}

#mainmenu li a {
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}

#mainmenu li a:hover,
#mainmenu li a.flex-active {
	color: #fff568;
}

#content {
	font-weight: 300;
	opacity: 0;
	position: fixed;
	top: -100%;
	bottom: 100%;
	right: 0;
	width: 668px;
	background: rgba(0, 0, 0, .7);
	max-width: 50%;
	min-height: 100%;
	-webkit-transition: all ease-in-out 1s 0s;
	-moz-transition: all ease-in-out 1s 0s;
	-ms-transition: all ease-in-out 1s 0s;
	-o-transition: all ease-in-out 1s 0s;
	transition: all ease-in-out 1s 0s;
}

#content p {
	padding: 0 0 20px;
	margin: 0;
}

.face_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	max-width: 100%;
    max-height: 100%;
    opacity: .9;
}

.content_tab_item a {
	color: #e4e38d;
}

.content_tab_item a:hover {
	color: #fff;
}

#content.visible {
	bottom: 0;
	top: 0;
	opacity: 1;
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-ms-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;
}

#content_inner {
	max-height: 100%;
	overflow: auto;
	padding: 39px 57px;
}

#swipe_inst {
	visibility: hidden;
	opacity: 0;
	padding-top: 20px;
	text-align: center;
	transition-duration: 1s;
	transition-timing-function: ease;
}

ul.slides:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}

#tab_contents {
	position: absolute;
	top: 70px;
	left: 58px;
	right: 0;
	padding-right: 20px;
	bottom: 20px;
	overflow: auto;
}

.swiper-wrapper {
	width: 100%;
	position: relative;
}
.scroll_container {
	height: 100%;
	backface-visibility: hidden;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.content_tab_item {
	position: relative;
	list-style: none;
}

.content_tab_item .content_tab_inner {
	padding: 0 25px;
	max-height: 100%;
	/*overflow: auto;*/
	/*TODO: Check all devices to see if this breaks anything*/
}

#content .close_content {
	position: absolute;
	height: 16px;
	position: absolute;
	top: 50%;
	left: 33px;
	margin-top: -8px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url(../images/close_icon.png) center center no-repeat;
}

#show_content {
	z-index: 999;
	width: 73px;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .7);
	display: block;
	right: 0;
	position: absolute;
	-webkit-transition: all ease .3s 1s;
	-moz-transition: all ease .3s 1s;
	-ms-transition: all ease .3s 1s;
	-o-transition: all ease .3s 1s;
	transition: all ease .3s 1s;
}
.content_vis #show_content {
	margin-right: -73px;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}
#show_content > span {
	left: 24px;
	width: 25px;
	margin-top: -7px;
	position: absolute;
	top: 50%;
	border-top: 2px solid #787878;
	border-bottom: 2px solid #787878;
	height: 4px;
	z-index: 99;
	display: block;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}
#show_content > span:before {
	top: -8px;
	height: 4px;
	content: "";
	border-top: 2px solid #787878;
	position: absolute;
	left: 0;
	right: 0;
	-webkit-transition: all ease .4s;
	-moz-transition: all ease .4s;
	-ms-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}
#show_content:hover > span,
#show_content:hover > span:before {
	border-color: #fff;
}
#singlecolor_bg,
#singleimg_bg {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#singleimg_bg {
	background-image: url(../images/portland.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

#projects .columns {
	padding-top: 3px;
	padding-right: 15px;
	margin-bottom: 28px;
}
#projects .columns h3 {
	padding-top: 25px;
}

#interests ul {
	list-style: none;
}
#interests li {
	padding-bottom: 4px;
}

#contact_list {
	margin-bottom: 45px;
	font-family: 'PT Sans Narrow', sans-serif;
}
#contact_list li {
	overflow: hidden;
	list-style: none;
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
}
#contact_list li i {
	float: left;
	margin-right: 7px;
	color: #fff568;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    #fff;
	opacity:  .47;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #fff;
	opacity:  .47;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #fff;
	opacity:  .47;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #fff;
	opacity:  .47;
}

@media (max-width: 1024px) {
	#header {
		bottom: 50%;
		top: auto;
		left: 0;
		right: 0;
		padding: 41px 50px 0;
		text-align: center;
		-webkit-transition: all ease .4s;
		-moz-transition: all ease .4s;
		-ms-transition: all ease .4s;
		-o-transition: all ease .4s;
		transition: all ease .4s;
	}
	#header_opacity {
		background: rgba(0, 0, 0, .7);
		transition: 1.5s;
	}
	#show_content {
		-webkit-transition: all ease .4s;
		-moz-transition: all ease .4s;
		-ms-transition: all ease .4s;
		-o-transition: all ease .4s;
		transition: all ease .4s;
		left: 0;
		right: 0;
		height: 73px;
		width: auto;
		text-align: center;
	}
	#show_content > span {
		left: 50%;
		margin-right: -12px;
	}
	.content_vis #show_content {
		margin-right: 0;
		top: -73px;
	}
	#content {
		bottom: 406px;
		width: auto;
		max-width: 100%;
		left: 0;
		right: 0;
	}
	#content.visible {
		bottom: 406px;
		min-height: 0;
	}
	.content_vis #header {
		bottom: 228px;
		top: auto;
	}
	.content_vis #show_content {
		height: 0;
	}
	#content .close_content {
		top: 28px;
		right: 30px;
		left: auto;
	}
	.content_tab_inner img {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	#show_content > span {
		left: 47%;
	}
	#content {
		position: relative !important;
		overflow: hidden;
		height: 0;
	}
	#content.visible {
		height: 100%;
	}
	#content_inner {
		padding: 20px;
	}
	#tab_contents {
		top: 50px;
		left: 20px;
	}
	.face_img {
		height: 250px;
	}
	.content_tab_item .content_tab_inner {
		padding: 0 10px;
	}
	#mainmenu {
		padding: 0 10px;
	}
	#mainmenu li + li {
		margin-left: 15px;
	}
}

@media (max-width: 500px) {
	.face_img {
		height: 111px;
	}
}
